    <!DOCTYPE HTML>
<script src="https://d3js.org/d3.v3.min.js"></script>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GPU data visualisation with Spring Boot, H2 & D3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
body{ font: Arial 18px; text-align: center; }

path{
stroke: steelblue;
fill: none;
stroke-width: 2;
}

.axis path, .axis line{
fill: none;
stroke: grey;
stroke-width: 1;
shape-rendering: crispEdges;
}
	</style>
</head>
<body>
<h2>GPU </h2>
</body>
</html>
<script type="text/javascript" src="main.js"></script>
<script>
</script>
