<!DOCTYPE HTML>
<script src="https://d3js.org/d3.v3.min.js"></script>
<head>
    <title>GPU data visualisation with Spring Boot, H2 & D3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
body{ font: Arial 18px; text-align: center; }

path{
stroke: steelblue;
fill: none;
stroke-width: 2;
}

.axis path, .axis line{
fill: none;
stroke: grey;
stroke-width: 1;
shape-rendering: geometricPrecision;
}
	</style>
</head>
<html>
<body>

<h2>GPU memory through time </h2>
<div id="graph2"></div>

<br>
<br>
<a href="http://localhost:8080/GPU-speed">See GPU speed through time</a>

</body>
</html>
<script type="text/javascript" src="main2.js"></script>
